<!DOCTYPE html>
<html ng-app="triviaTrends">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/styles/reset.css">
  <link rel="stylesheet" href="/styles/main.css">
  <title>Trivia Trends</title>
  <link rel="shortcut icon" href="/styles/assets/crownFavicon.png">
</head>

<body ng-controller="questionCtrl">
  <header>
    <div></div>
    <h1>Trivia Trends</h1>
    <button><span>+</span> Add Question</button>
  </header>
  <article>
    <nav>
      <a ng-click="getTen()">All Questions</a>
      <a ng-click="getDifficulty(1)">Easy</a>
      <a ng-click="getDifficulty(2)">Medium</a>
      <a ng-click="getDifficulty(3)">Hard</a>
      <a ng-click="findAnimal()">Search by Animal</a>
    </nav>
    <div class="search" ng-hide="flag">
      <input type="text" placeholder="Animal to search by" ng-model="search">
    </div>

  <div>
      <div class="question-wrapper" ng-repeat="cat in questions">
          <h3>{{cat.question}}</h3>
          <div>{{cat.difficulty}}</div>
          <div class="gear" >
            <img src="/styles/assets/gear.svg" alt="">
          </div>
          <ul>
            <li ng-repeat="option in cat.options">
              <input type="radio" name="options">
                <label>{{option}}</label>
            </li>
          </ul>
          <!-- <div>{{cat.animal | filter: search}}</div> -->
      </div>
  </div>  

  </article>

  <div class="modal">
    <form>
      <h4 class="close">X</h4>
      <span>Question</span><input type="text" ng-model="Question">
      <span>Animal it's about</span><input type="text" ng-model="Animal">
      <span>Difficulty</span>
      <div class="range">
        <input type="range" min="1" max="3" ng-model="Difficulty">

        <h5>{{newQuestion.difficulty}}</h5>
      </div>
      <h4>Options</h4>
      <div>
        <input type="radio" ng-model="a" value="1">
        <input type="text" ng-model="a">
      </div>
      <div>
        <input type="radio" ng-model="a" value="2">
        <input type="text" ng-model="a">
      </div>
      <div>
        <input type="radio" ng-model="a" value="3">
        <input type="text" ng-model="a">
      </div>
      <div>
        <input type="radio" ng-model="a" value="4">
        <input type="text" ng-model="a">
      </div>

      <!--Add question buttons-->
      <div class="buttons">
        <button class="green">Save Question</button>
        <button>Cancel</button>
      </div>

      <!--Edit & Delete question buttons-->
      <div class="buttons">
        <button class="red">Delete Question</button>
        <button class="green">Save Changes</button>
        <button>Cancel</button>
      </div>

    </form>
  </div>





  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.js" charset="utf-8"></script>
  <script src="app/app.js" charset="utf-8"></script>
  <script src="app/mainSrvc.js" charset="utf-8"></script>
  <!-- <script src="app/question/questionComp.js" charset="utf-8"></script> -->
  <script src="app/question/questionCtrl.js" charset="utf-8"></script>
</body>

</html>